<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">

        <header class="site-header">
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>

            {% include navigation.html location="header" %}

        </header>

        <main class="site-main">

            <h2 class="layout-news-title">{{ page.title }}</h2>
            <div class="layout-news-media">
                <img src="{{ page.img }}" alt="">
            </div>
            <div class="layout-news-content"> {{content}}</div>
            <div class="go-back-wrapper"><a href="{{ site.baseurl }}/news/">Go Back</a></div>
        </main>

        <footer class="site-footer">
            {% include footer.html location="footer" %}
        </footer>

    </div>

</body>

</html>