.outside{
    border: dotted blue;
    border-radius: 10px;
    padding: 10px;
}
.middle{
    border: dashed red;
    border-radius: 10px;
    padding: 10px;

}
.inner{
    border: solid green;
    border-radius: 1px;
    padding: 10px;
    text-align: center;
    font-size: 20px;

}