html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 1em;
}
body{
    max-width: 80%;
    margin: 20px auto;
}

header{
    padding: 20px;
}

nav{
    display: inline-block;
}

main{
    padding: 20px;
}

nav > ul{
    list-style: none;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    text-decoration: none;
    color: green;
    padding: 2px;
    margin: 2px;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
    margin-right: 5rem;
}