:root {
    --font-size-body: 14px; 
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;

    --layout-main-width: 100vw;
    --layou-default-padding: 100px;

    --color-body-text: #000;
    --color-body-bgrd: #FFF;
    --color-bcg-default: rgb(232, 234, 236);
    --color-link-default: rgb(50, 7, 170);

    --color-tokensale-main:  rgb(3, 108, 165);
    --color-tokensale-bgrd: rgb(212, 232, 243);

    --color-btn-bgrd: rgb(217, 17, 17);
    --color-btn-text: rgb(243, 217, 70);

    --color-border-default: #999;

    --spacing-layout-elements: 2em;
}